
.repo-sum {
    min-width: 100%;
    height: 30%;
}

#repos {
    background-color: #B1E2F3;
    height: 300px;
}

#repos:hover {
    background-color: #baeeff;
}

a:link {
    text-decoration: none;
}
